.btn-round {
  background-color: #38818F;
  border-radius: 999em;
  width: 56px;
  height: 56px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 1;
  font-size: 36px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.btn-round span {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -22px;
  color: #FFF;
}

/*.green { background-color: #57A429; }*/
/*.red { background-color: #d23f31}*/
.blue { background-color: #38818F;}
.orange { background-color: #D28031; }

p { margin-top: 50px; }
